/web/app/node_modules

.dockerignore
.gitignore
.git
.github
.idea
docker-compose.yaml
Dockerfile
README.md
sonar-project.properties

/build

/internal/app/generated
/web/app/src/api/generated

.env.local